@model MVCReviewSiteProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<body id="detailBackground"> @* background ID *@
    <div>
        <h3 id="detailText">Review</h3>
        <hr />
        <dl class="dl-horizontal" id="detailCode">
            <dt>
                @Html.DisplayNameFor(model => model.Category.location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rating)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>