@model IEnumerable<MVCReviewSiteProject.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<h2>User Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

            @Html.DisplayNameFor(model => model.Category.location)

            @Html.DisplayNameFor(model => model.firstName)

            @Html.DisplayNameFor(model => model.lastName)

            @Html.DisplayNameFor(model => model.date)

            @Html.DisplayNameFor(model => model.description)

            @*added the model for rating system*@
            @Html.DisplayNameFor(model => model.rating)


@foreach (var item in Model) {

            @Html.DisplayFor(modelItem => item.Category.location)

            @Html.DisplayFor(modelItem => item.firstName)

            @Html.DisplayFor(modelItem => item.lastName)
 
            @Html.DisplayFor(modelItem => item.date)

            @Html.DisplayFor(modelItem => item.description)

            @*added the rating item*@
            @Html.DisplayFor(modelItem => item.rating)

            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
            @Html.ActionLink("Details", "Details", new { id=item.ID })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
   
}


